body {
  font-family: "Lato", sans-serif;
  background-color: #f9f9f9;
}

.download-section {
  padding: 5rem 0;
  position: relative;
  overflow: hidden;
}

.download-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.content-wrapper {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.download-text{
  position: relative;
  left: 45rem;
  bottom: 50rem;
}

.text-content h2 {
  font-size: 3rem;
  color: #000000;
  margin-bottom: 10px;
  font-weight: 700;
}

.text-content p {
  font-size: 2rem;
  color: #000;
  margin-bottom: 40px;
}

.download-buttons {
  display: flex;
  gap: 20px;
  max-width: 100rem;
}

.download-btn {
  display: flex;
  position: relative;
  align-items: center;
  padding: 2rem 3rem;
  border-radius: 1rem;
  left: 15rem;
  top: -15rem;
  text-decoration: none;
  transition: transform 0.3s, box-shadow 0.3s;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.download-btn:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.download-btn img {
  width: 5rem;
  height: 5rem;
  margin-right: 1rem;
}

.download-btn div {
  display: flex;
  flex-direction: column;
}

.download-btn span {
  font-size: 1rem;
  font-weight: 400;
  color: #fff;
}

.download-btn strong {
  font-size: 1.2rem;
  font-weight: 600;
  color: #fff;
  font-weight: 600;
}

.apple-store {
  background-color: #000000;
}

.google-play {
  background-color: #000000;
}

.image-content {
  display: flex;
}

.phone-image {
  position: relative;
  z-index: 3;
}

.phone-image img {
  width: 250rem;
  max-width: 100%;
  height: auto;
}

.green-bg {
  position: relative;
  width: 135%;
  height: 58%;
  top: 7rem;
  left: -42.5rem;
  z-index: 1;
}

.yellow-bg {
  position: relative;
  width: 115%;
  height: 45.5%;
  top: -12rem;
  left: -32.5rem;
  z-index: 2;
}
