body {
  font-family: "Lato", sans-serif;
  background-color: #f9f9f9;
}

.download-section {
  padding: 80px 0;
  position: relative;
  overflow: hidden;
}

.download-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.content-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 40px;
}


.text-content {
  flex: 1;
  z-index: 2;
}

.text-content h2 {
  font-size: 3rem;
  color: #000000;
  margin-bottom: 10px;
  font-weight: 600;

}

.text-content p {
  font-size: 2rem;
  color: #000;
  margin-bottom: 40px;
}

.download-buttons {
  display: flex;
  gap: 20px;
  max-width: 100rem;
}

.download-btn {
  display: flex;
  align-items: center;
  padding: 15px 20px;
  border-radius: 10px;
  text-decoration: none;
  transition: transform 0.3s, box-shadow 0.3s;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.download-btn:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.download-btn img {
  width: 40px;
  height: 40px;
  margin-right: 15px;
}

.download-btn div {
  display: flex;
  flex-direction: column;
}

.download-btn span {
  font-size: 1rem;
  font-weight: 400;
  color: #fff;
}

.download-btn strong {
  font-size: 1.2rem;
    font-weight: 600;
  color: #fff;
  font-weight: 600;
}

.apple-store {
  background-color: #000000;
}

.google-play {
  background-color: #000000;
}

.image-content {
  flex: 1;
  min-width: 300px;
  position: relative;
  display: flex;
  justify-content: center;
}

.phone-image {
  position: relative;
  z-index: 2;
}

.phone-image img {
  max-width: 100%;
  height: auto;
}

.background-shapes {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.green-bg {
  position: absolute;
  top: -50px;
  right: -50px;
  width: 300px;
  height: 300px;
  background-image: url("images/Rectangle\ 408.png");
  background-size: contain;
  background-repeat: no-repeat;
  z-index: 1;
}

.yellow-bg {
  position: absolute;
  bottom: -50px;
  left: -50px;
  width: 250px;
  height: 250px;
  background-image: url("images/Rectangle\ 409.png");
  background-size: contain;
  background-repeat: no-repeat;
  z-index: 1;
}
